includes:
	- phpstan-baseline.neon
parameters:
	level: 6
	paths:
		- src/
	excludePaths:
		- src/PhpStan/
	typeAliases:
		AssocArray: 'array<string, mixed>'
	checkExplicitMixed: true
	checkImplicitMixed: true
	reportMaybes: true
	treatPhpDocTypesAsCertain: false
	reportUnmatchedIgnoredErrors: true
